@charset "utf-8";
img{max-width: 100%}
.progressItem{margin:.3rem .3rem .9rem;color:#8e8e8e;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:box;display:-moz-box;display:-webkit-box;}
.progressItem li:nth-child(2),.progressItem li:nth-child(3){text-align:right;box-flex:1; -moz-box-flex:1; -webkit-box-flex:1;}
.progressItem li i{display:inline-block;width:.1rem;height:.1rem;margin:0 .08rem;background-color:#ddd;border-radius:50%; vertical-align:middle;}
.progressItem li i:last-child{margin-right:.25rem;}
.progressItem li.colorRed i{background-color:#31c27c;}
.resetCellPhoneWrap{margin-bottom:.3rem;padding-top:.3rem;text-align:center;background-color:#fff;}
.resetCellPhoneWrap .colorGray{font-size:.32rem;margin-bottom:.3rem}
.resetCellPhoneWrap .colorYellow{font-size:.22rem;margin-bottom:.2rem;}

.identityCard{padding-bottom:.8rem;text-align:center;font-size:0}
.identityCard li{display:inline-block;width:50%;}
.identityCard li .img{position:relative;}
.identityCard li .img img{display:block;width:2rem;height:1.2rem;margin:0 auto;border-radius:.1rem;}
.identityCard li .img i{position:absolute;top:50%;left:50%;display:block;width:.6rem;height:.6rem;margin:-.3rem 0 0 -.3rem;background:url(../images/realNameAuthentication/icoVidicon.png) no-repeat;background-size:.6rem .6rem;}
.identityCard li .text{margin-top:.2rem;color:#8e8e8e;font-size:.26rem;}

.pictureRequire{padding-bottom:.4rem;margin-bottom:.3rem;background-color:#fff;}
.pictureRequire .title{height:.9rem;padding-left:.3rem;line-height:.9rem;border-bottom:1px solid #eaeaea;}
.pictureRequire .text{padding:.3rem;color:#8e8e8e;line-height:1.8}
.pictureRequire .example{position:relative;padding:.5rem .1rem .1rem;margin:.2rem .3rem 0;border:1px solid #eaeaea;}
.pictureRequire .example .exampleTitle{position:absolute;top:-.2rem;left:.55rem;display:inline-block;padding:0 .1rem;color:#8e8e8e;background-color:#fff;}
.pictureRequire .example ul li{float:left;position:relative;width:25%;padding:0 .1rem;text-align:center;font-size:.24rem;box-sizing:border-box;}
.pictureRequire .example ul li:after{content:'';position:absolute;top:.77rem;left:50%;width:.34rem;height:.34rem;margin-left:-.17rem;background:url(../images/realNameAuthentication/icoError.png) no-repeat;background-size:.34rem .34rem;}
.pictureRequire .example ul li:nth-child(1):after{background-image:url(../images/realNameAuthentication/icoOk.png)}
.pictureRequire .example ul li img{display:block;margin-bottom:.3rem;}
.infoExamination{padding:0 .3rem .3rem;background-color:#fff;}
.infoExamination .title{padding:.2rem 0;text-align:center;}
.infoExamination .title span{position:relative;display:inline-block;color:#8e8e8e;font-size:.32rem;background-color:#fff;}
.infoExamination .title span:before,.infoExamination .title span:after{content:'';position:absolute;top:50%;width:.65rem;height:0;border-top:1px solid #dbdbdb;}
.infoExamination .title span:before{left:-.8rem;}
.infoExamination .title span:after{right:-.8rem;}
.infoExamination ul li{padding:.2rem 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:box;display:-moz-box;display:-webkit-box;}
.infoExamination ul li label{display:block;width:1.65rem;}
.infoExamination ul li .info{color:#8e8e8e;box-flex:1; -moz-box-flex:1; -webkit-box-flex:1;}


.readItem{padding:1.5rem 0 .5rem;text-align:center;color:#8e8e8e;font-size:.24rem;}
.bindBankCard .progressItem{margin-bottom:0.1rem;}
.bindBankCard .readItem{padding:.1rem 0;}
.bindBankCard .cardCon{width:5rem;height:2.85rem;margin:0 auto .4rem;padding:.3rem 0 0 .3rem;color:#fff;background:url(../images/realNameAuthentication/bankCardBg.png) no-repeat;background-size:5.3rem 3.15rem;}
.bindBankCard .cardCon p{font-size:.3rem;}
.bindBankCard .cardCon p:nth-child(2){margin-top:.7rem;}
.bindBankCard .cardCon p:nth-child(3){padding:.1rem 0;font-size:.36rem;}
.bindBankCard .cardCon a{color:#fff;font-size:.24rem;text-decoration:underline;}
.bindBankCard .cardNumCon{height:1.1rem;padding-top:.3rem;background-color:#fff;}
.bindBankCard .cardNumCon .num{width:4.6rem;height:.7rem;margin:0 auto;font-size:.46rem;text-align:center;line-height:.8rem;text-indent:.1rem;background:url(../images/realNameAuthentication/dashedBg.jpg) left bottom repeat-x;background-size:auto 3px;}

.bindBankCard .phoneCon{position:relative;width:4.48rem;height:1.3rem;padding:2.3rem .3rem 0 .32rem;margin:0 auto;background:url(../images/realNameAuthentication/phoneBg.jpg) no-repeat;background-size:5.1rem auto;}
.bindBankCard .phoneCon .message{position:absolute;top:1.25rem;left:.32rem;width:4.48rem;height:0;padding-top:.1rem;background-color:#31c27c;color:#fff;opacity:0;
transition: all 1s;
-o-transition: all 1s;
-moz-transition: all 1s;
-webkit-transition: all 1s;
}
.bindBankCard .phoneCon .message.slideDown{height:.95rem;opacity:1;}
.bindBankCard .phoneCon .message p:nth-child(1){height:.4rem;padding-left:.5rem;line-height:.4rem;font-size:.24rem;background:url(../images/realNameAuthentication/icoLetter.png) .05rem center no-repeat;background-size:.34rem .34rem;}
.bindBankCard .phoneCon .message p:nth-child(2){padding-left:.5rem;font-size:.3rem;}
.bindBankCard .phoneCon .num{padding-top:.2rem;text-align:center;font-size:.3rem;}
.bindBankCard .yzmCon{background:#fff;}
.yzm{width:5.4rem;height:1.1rem;margin:0 auto;padding-top:.3rem;font-size:0;}
.bindBankCard .yzm li{position:relative;float:left;display:block;width:.7rem;height:.7rem;margin:0 .1rem;font-size:.46rem;text-align:center;line-height:.7rem;border-bottom:1px solid #cbcbcb;}
