@charset "utf-8";
html{-webkit-tap-highlight-color:transparent;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button,textarea, p, blockquote, th, td {margin:0; padding:0; word-wrap:break-word; -webkit-text-size-adjust:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; text-size-adjust:none;}
body {color:#333; font:0.24rem/1.5 Hiragino Sans GB,Arial,Helvetica,"微软雅黑",sans-serif;background-color:#efefef;}
ol,ul {list-style:none;}
fieldset,img {border:0;}
abbr, acronym {border:0; font-variant:normal;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
address, caption, cite, code, dfn, em, var {font-style:normal;}
table {border-collapse:collapse;}
caption,th {text-align:left;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {color:#333; text-decoration:none; outline:none;}
input,select,textarea,button {outline:none;border:none;background:none;}/*谷歌当光标移入，有一个框*/
input, button, textarea, select, optgroup, option {font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
input, button, textarea, select {*font-size:100%;}
textarea {resize:none;}
::-moz-placeholder {color:#cccccc;}
:-moz-placeholder {color:#cccccc;}
::-webkit-input-placeholder {color:#cccccc;}
:-ms-input-placeholder {color:#cccccc;}

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.clearfix:after {content:"."; clear:both; display:block; height:0; font-size:0; visibility:hidden; overflow:hidden;}
.clearfix {display:block;}
* html .clearfix {height:1%;}
*+html .clearfix{min-height:1%;}
#overlay {display:none; position:fixed; _position:absolute; left:0; top:0; width:100%; height:100%; z-index:9900; _height:expression(Math.max((document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight ), document.documentElement.clientHeight)+ 'px'); background-color:#000; opacity:0.8; filter:Alpha(Opacity=80);}

body {width:7.20rem; margin:0 auto;}
#container {max-width:7.20rem; margin:0 auto;}
/*loading*/
.loadBox{display:none; position:fixed; _position:absolute; left:0; top:0; width:100%; height:100%; z-index:9900; _height:expression(Math.max((document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight ), document.documentElement.clientHeight)+ 'px'); background-color:#000; opacity:0.8; filter:Alpha(Opacity=80);z-index:10000;}
.loadBox .logoLoading{display:block;position:absolute;top:50%;left:50%;width:1.51rem;height:1.46rem;margin:-0.73rem 0 0 -0.75rem;}
.loadBox .loading{display:block;position:absolute;left:50%;top:50%;width:1rem; height:1rem;margin:-0.5rem 0 0 -0.5rem;background:url(../images/loading.png) no-repeat top center;background-size:1rem auto;
	-webkit-animation:loading 2s linear infinite;
	-moz-transform-origin: center center;
	-moz-animation:loading 2s linear infinite;
}
@-webkit-keyframes loading {
	0% {
		-webkit-transform:rotate(0deg);
	}
	50% {
		-webkit-transform:rotate(180deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
	}
}
@-moz-keyframes loading {
	0% {
		-moz-transform:rotate(0deg);
	}
	50% {
		-moz-transform:rotate(180deg);
	}
	100% {
		-moz-transform:rotate(360deg);
	}
}