@charset "utf-8";
/* CSS Document */

.demo{
	height:100%;
	width:100%;
}
.demo div.bg{
	width:100%;
	height:100%;
	overflow:hidden;
}
.demo div.bg div{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.demo div.bg img{
	display:block;
	height:100%;
	width:100%;
}

@-webkit-keyframes fade
{
    /* Show a leaf while into or below 95 percent of the animation and hide it, otherwise */
    0%   { opacity: 0; }
    25%  { opacity: 1; }
    100% { opacity: 1; }
}

@-webkit-keyframes drop15
{
    /* Move a leaf to -300 pixels in the y-axis at the start of the animation */
    0% {  
	transform:translate(0,100px);
	-ms-transform:translate(0,100px); 	/* IE 9 */
	-moz-transform:translate(0,100px); 	/* Firefox */
	-webkit-transform:translate(0,100px); /* Safari 和 Chrome */
	-o-transform:translate(0,100px);
	}
    /* Move a leaf to 600 pixels in the y-axis at the end of the animation */
	 50% { 
	transform:translate(-590%,-230%);
	-ms-transform:translate(-590%,-230%); 	/* IE 9 */
	-moz-transform:translate(-590%,-230%); 	/* Firefox */
	-webkit-transform:translate(-590%,-230%); /* Safari 和 Chrome */
	-o-transform:translate(-590%,-230%); 
	}
    100% { 
	transform:translate(-590%,-230%);
	-ms-transform:translate(-590%,-230%); 	/* IE 9 */
	-moz-transform:translate(-590%,-230%); 	/* Firefox */
	-webkit-transform:translate(-590%,-230%); /* Safari 和 Chrome */
	-o-transform:translate(-590%,-230%); 
	}
}
@-webkit-keyframes drop16
{
    /* Move a leaf to -300 pixels in the y-axis at the start of the animation */
    0% {  
	transform:translate(0,0);
	-ms-transform:translate(0,0); 	/* IE 9 */
	-moz-transform:translate(0,0); 	/* Firefox */
	-webkit-transform:translate(0,0); /* Safari 和 Chrome */
	-o-transform:translate(0,0);
	}
    /* Move a leaf to 600 pixels in the y-axis at the end of the animation */
	 50% { 
	transform:translate(280%,-16rem);
	-ms-transform:translate(-5.5rem,-16rem); 	/* IE 9 */
	-moz-transform:translate(-5.5rem,-16rem); 	/* Firefox */
	-webkit-transform:translate(-5.5rem,-16rem); /* Safari 和 Chrome */
	-o-transform:translate(-5.5rem,-16rem); 
	}
    100% { 
	transform:translate(-5.5rem,-16rem);
	-ms-transform:translate(-5.5rem,-16rem); 	/* IE 9 */
	-moz-transform:translate(-5.5rem,-16rem); 	/* Firefox */
	-webkit-transform:translate(-5.5rem,-16rem); /* Safari 和 Chrome */
	-o-transform:translate(-5.5rem,-16rem); 
	}
}
@-webkit-keyframes drop17
{
    0% {  
transform:translate(0,0);
	-ms-transform:translate(0,0); 	/* IE 9 */
	-moz-transform:translate(0,0); 	/* Firefox */
	-webkit-transform:translate(0,0); /* Safari 和 Chrome */
	-o-transform:translate(0,0);
	}
	50% { 
	transform:translate(-200px,180px);
	-ms-transform:translate(-200px,180px); 	/* IE 9 */
	-moz-transform:translate(-200px,180px); 	/* Firefox */
	-webkit-transform:translate(-200px,180px); /* Safari 和 Chrome */
	-o-transform:translate(-200px,180px); 
	}
    100% { 
	transform:translate(-200px,180px);
	-ms-transform:translate(-200px,180px); 	/* IE 9 */
	-moz-transform:translate(-200px,180px); 	/* Firefox */
	-webkit-transform:translate(-200px,180px); /* Safari 和 Chrome */
	-o-transform:translate(-200px,180px); 
	}
}


@-webkit-keyframes drop19
{
  0% {  
	transform:translate(0,0);
	-ms-transform:translate(0,0); 	/* IE 9 */
	-moz-transform:translate(0,0); 	/* Firefox */
	-webkit-transform:translate(0,0); /* Safari 和 Chrome */
	-o-transform:translate(0,0);
	}
	50% { 
	transform:translate(-100px,180px);
	-ms-transform:translate(-100px,180px); 	/* IE 9 */
	-moz-transform:translate(-100px,180px); 	/* Firefox */
	-webkit-transform:translate(-100px,180px); /* Safari 和 Chrome */
	-o-transform:translate(-100px,180px); 
	}
    100% { 
	transform:translate(-100px,180px);
	-ms-transform:translate(-100px,180px); 	/* IE 9 */
	-moz-transform:translate(-100px,180px); 	/* Firefox */
	-webkit-transform:translate(-100px,180px); /* Safari 和 Chrome */
	-o-transform:translate(-100px,180px); 
	}
}


@-webkit-keyframes away
{
    /* Show a leaf while into or below 95 percent of the animation and hide it, otherwise */
    0%   { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}

.hand{
	position:absolute;
	top:60%;
	right:0;
	width:4rem;
	height:6rem;
	animation-name: fade, drop15, away; 
	animation-duration: 2s, 3s,3s; 
	animation-delay: 0s, 0.5s, 3s;
	-webkit-animation-name: fade, drop15 , away; 
	-webkit-animation-duration: 2s, 3s, 3s; 
	-webkit-animation-delay: 0s, 0.5s, 3s;
	
}

